.idea
PyJWT-1.5.0.dist-info
certifi
certifi-2017.7.27.1.dist-info
chardet
chardet-3.0.4.dist-info
idna
idna-2.5.dist-info
jwt
pytz
pytz-2017.2.dist-info
requests
requests-2.18.3.dist-info
six.py
six-1.10.0.dist-info
twilio
twilio-6.5.0.dist-info
urllib3
urllib3-1.22.dist-info
_cffi_backend.so
*.zip
*.pyc